<!-- hotel-reservation-form.component.html -->

<div class="reservation-form-container">
    <h2 style="font-style: normal;">Car Booking Form</h2>
    <br>
    <form>
      <!-- Room/Suite Type Dropdown -->
      <label for="roomType">Car Type:</label>
      <select name="roomType" id="roomType">
        <option value="standard">Hatchback</option>
        <option value="deluxe">Sedan</option>
        <option value="suite">SUV</option>
      </select>
  
      <!-- Number of Rooms Dropdown -->

      <!-- Number of Persons Dropdown -->
      <label for="numPersons">Number of Persons:</label>
      <select name="numPersons" id="numPersons">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
  
      <!-- Number of Children Dropdown -->
      <label for="numChildren">Number of Children:</label>
      <select name="numChildren" id="numChildren">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
  
      <!-- Restaurant Facilities Dropdown -->
      <label for="restaurantFacilities">Food Required:</label>
      <select name="restaurantFacilities" id="restaurantFacilities">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
  
      <!-- Submit Button -->
    
    <p>Total Cost($):</p><button type="submit">0</button>

    
    </form>
  </div>
  