<div class="menu-item-right">
    <a style="font-size: 40px;">Where?</a>
    <br>
    <br>
    <a style="font-style: normal;font-size: 18px;">You can reach us to travel to any location.</a>
    <br>
    <br>
    <a style="font-size: 40px;">When?</a>
    <br>
    <br>
    <a style="font-style: normal;font-size: 18px;">You can reach us to plan your trip.</a>
    <br>
    <br>
    <a style="font-size: 40px;">Transport?</a>
    <br>
    <br>
    <a style="font-style: normal;font-size: 18px;">You can reach us for Flight/Bus/Train booking from your country</a>

</div>

    
<div class="menu-middle">    
    <router-outlet></router-outlet>
</div>


<div class="menu-item">
    <a routerLink="flight">Flight Booking</a>
</div>

<div class="menu-item">
    <a routerLink="bus">Bus Booking</a>
</div>
<div class="menu-item">
    <a routerLink="car">Car Booking</a>
</div>
<div class="menu-item">
    <a routerLink="hotel">Hotel Booking</a>
</div>




