.menu-item a {
    color: #ffffff; 
}

.menu-item {
    margin-bottom: 5px; 

    display: block;
    padding: 10px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: left;
    background-color: #0c1f27; 
    width: 20%; 
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    box-sizing: border-box; 
    margin-top: 20px;
    margin-left: 24px; 
}


.menu-middle{
    float: right;
    margin-right: 480px;
}


.menu-item-right a {
    color: #ffffff; 
}

.menu-item-right {
    margin-bottom: 5px; 
    display: block;
    padding: 10px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    background-color: #0c1f27; 
    width: 25%; 
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box; 
    margin-top: 20px;
    margin-left: 24px; 
    float: right;
}



.menu-item:hover {
    background-color: #042157; 
}
