<!-- app.component.html -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header>
    <div class="logo">
        <h2>TravelApp</h2>
    </div>
    <div class="left-links">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="">About</a></li>
            <li><a routerLink="">Book Tickets</a></li>
            <li><a routerLink="">Travel Packages</a></li>
            <li><a routerLink="">Contact us</a></li>
        </ul>
    </div>
    <div class="right-elements">
        <a><i style="font-size:24px" class="fa">&#xf2be;</i>    Sign Up</a>
        <a><i style="font-size:24px" class="fa">&#xf08b;</i>    Logout</a>
    </div>
</header>
<br>
<br>
<br>
<br>
<br>

<div class="content">
    <app-home></app-home>
</div>

<footer>
    <p> Address: Hyderabad India PIN 52800 </p>
</footer>
