.logo{
    margin-right: 15px;
}

header {
    color: white;
    width: 100%;
    padding: 7px 30px; 
    background-color: rgb(38, 41, 41);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100; 
   
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header ul li {
    margin-left: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 0;
}

header ul li a {
    text-decoration: none;
    color: azure;
    padding: 15px 35px; 
    display: inline-block;
    transition: background-color 0.3s; 
    margin-right: 0.5px;
}

header ul li a:hover {
    background-color: black;
    color: white;
}

header .right-elements {
    margin-left: auto; 
}

header .right-elements a {
    margin-left: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.content {
    padding-top: 80px; 
}

footer {
    background-color: rgb(10, 115, 163);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100; 
}
