
<div class="reservation-form-container">
    <h2 style="font-style: normal;">Bus Booking Form</h2>
    <br>
    <form>
      <!-- Room/Suite Type Dropdown -->
      <label for="roomType">Bus Type:</label>
      <select name="roomType" id="roomType">
        <option value="standard">Sleeper</option>
        <option value="deluxe">Semi-Sleeper</option>
        <option value="suite">Normal A/C</option>
      </select>
  

      <label for="numRooms">Number of Seats:</label>
      <select name="numRooms" id="numRooms">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
  
      <label for="numPersons">Number of Persons:</label>
      <select name="numPersons" id="numPersons">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
  
      <label for="numChildren">Number of Children:</label>
      <select name="numChildren" id="numChildren">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
  

      <label for="restaurantFacilities">Food Required:</label>
      <select name="restaurantFacilities" id="restaurantFacilities">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>

    
    <p>Total Cost($):</p><button type="submit">0</button>

    
    </form>
  </div>
  